*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --white: rgb(248, 245, 245);
    --gray: rgb(140, 151, 154);
    --border-clr: rgb(7, 10, 12);

    --shadow: 2px 2px 6px rgba(0, 0, 0, 0.286);

    --brand-red: #FD0566;
    --brand-bleu: #39C6E7;
    --brand-background: #11171D;
    --shadow-2: 4px -3px 9px rgba(1, 16, 24, 0.08),
        0px 3px 9px rgba(1, 16, 24, 0.08);
}

/* scrollbar */
::-webkit-scrollbar-track {
    background-color: var(--hover);
    margin: 2px;
    border-radius: .5rem;
}

::-webkit-scrollbar {
    width: .6rem;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary);
    transition: all .5s ease;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}